#projects {
  width: 100vw;
  min-height: 2210px;
  padding-top: 70px;
  background: linear-gradient(var(--project-glow)3%, var(--bg-color) 50%, var(--bg-color) 82%, var(--project-glow) 100%);
  position: relative;
}

.projects-grid {
  display: grid;
  margin-top: 140px;
  gap: 140px 20px;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  align-items: center;
}

.projects-grid img {
  width: 400px;
  height: auto;
  justify-self: center;
}

.can-text {
  margin-left: 50%;
  width: 380px;
  transform: translateX(-50%);
  text-align: left;
}

.can-text h2 {
  font-size: 50px;
  font-family: 'Lexend Giga', Arial;
}

.can-text .project-text {
  padding-bottom: 25px;
  padding-left: 5px;
}

.can-text h3 {
  font-weight: normal;
  color: var(--blue-highlight);
  font-family: 'Inter', Arial;
  padding-left: 5px;
}

.can-text button {
  background: linear-gradient(to right, var(--header-gradient-1), var(--header-gradient-3));
  border-radius: 50px;;
}

.projects-grid .can-rgx-v .project-title {
  padding: 0px;
}

#projects > h1 {
  padding-top: 100px;
  font-family: 'Lexend Giga', Arial;
}

#projects > p {
  padding-top: 15px;
  padding-bottom: 50px;
}

.h-line {
  display: inline-block;
  background-color: var(--highlight-color);
  width: 1px;
  margin: 0 auto;
  transform-origin: top;
}

.line-1 {
  height: 300px;
}

.line-2 {
  height: 450px;
}

.line-3 {
  height: 450px;
}

.line-4 {
  height: 450px;
}

.line-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.checkpoint-1,
.checkpoint-2,
.checkpoint-3,
.checkpoint-4 {
  position: absolute;
  width: 70px;
  height: auto;
}

.checkpoint-1 {
  top: 275px;
}

.checkpoint-2 {
  top: 730px;
}

.checkpoint-3 {
  top: 1180px;
}

.checkpoint-4 {
  top: 1630px;
}

/* Medium-small devices */
@media (max-width: 600px) {

  #projects {
    min-height: fit-content;
    padding-top: 140px;
    padding-bottom: 140px;
  }

  #projects > h1 {
    font-size: 2.8rem;
  }

  .projects-grid {
    grid-template: repeat(7, 1fr) / 1fr;
  }

  .projects-1 {
    order: 1;
  }

  .projects-img-1 {
    order: 2;
  }

  .projects-2 {
    order: 3;
  }

  .projects-img-2 {
    order: 4;
  }

  .projects-3 {
    order: 5;
  }

  .projects-img-3 {
    order: 6;
  }

  .projects-4 {
    order: 7;
  }

  .line-section {
    left: 50px;
    margin-top: 100px;
  }

  .line-1 {
    height: 870px;
  }

  .line-2 {
    height: 690px;
  }

  .line-3 {
    height: 665px;
  }

  .line-4 {
    height: 100px;
  }

  .checkpoint-1 {
    top: 155px;
  }

  .checkpoint-2 {
    top: 830px;
  }

  .checkpoint-3 {
    top: 1505px;
  }

  .checkpoint-4 {
    top: 2180px;
  }

  .can-text {
    margin-left: calc(50% + 15%);
    width: 380px;
    text-align: left;
  }

  .can-text h2 {
    font-size: 2.25rem;
  }

  .can-text h3 {
    font-weight: normal;
    color: var(--blue-highlight);
    font-family: 'Inter', Arial;
    padding-left: 5px;
  }

  .can-text button {
    background: linear-gradient(to right, var(--header-gradient-1), var(--header-gradient-3));
    border-radius: 50px;;
  }

  .projects-grid img {
    width: 60%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 992px){
  .projects-grid img {
    width: 80%;
  }
  .can-text h2 {
    font-size: 2.7rem;
  }

  .can-text h3 {
    font-weight: normal;
    color: var(--blue-highlight);
    font-family: 'Inter', Arial;
    padding-left: 5px;
  }
}