#home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#home, 
.bg-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bg-overlay {
  justify-content: flex-end;
  width: 72%;
  height: 100vh;
  background: linear-gradient(
    to right, 
    var(--bg-gradient-1) 0%, 
    var(--bg-gradient-2) 30%,
    var(--bg-gradient-4) 55%
  );
  font-family: 'Inter', Arial;
}

.buttons {
  display: flex;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 20px;
  position: relative;
}

.join-button {
  background: linear-gradient(to right, var(--highlight-gradient-1), var(--highlight-gradient-2));
  color: var(--dark-color);
}

.about-button {
  border-color: white;
  background-color: transparent;
}

.join-button,
.about-button {
  width: clamp(40px, 10vw, 150px);
  border-radius: 4px;
}

.left-text {
  display: block;
  text-align: left;
}

.home-logo {
  width: clamp(100px, 12vw, 200px);
  height: auto;
  margin: 0px 50px 50px 50px;
  transition: filter 0.4s ease;
}

.home-logo:hover {
  filter: drop-shadow(0 0 1em var(--highlight-gradient-2));
}

.separator {
  width: 100vw;
  height: 1px;
  background-color: white;
}

#about-us {
  width: 100vw;
  height: 140vh;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  box-sizing: border-box;
  padding: 40px 60px;
  background-image: url(../assets/images/bg-about.svg);
  background-size: cover;
}

.about-header {
  color: var(--highlight-gradient-1);
  font-family: 'Italiana', Arial;
}

.text-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50vw;
  max-height: 50vw;
  overflow: auto;
}

.about-header {
  font-size: 4rem;
  text-align: left;
}

.about-text {
  font-size: 1.4rem;
  text-align: left;
  width: 80%;
}

.image-holder {
  position: relative;
  width: clamp(100px, 50vw, 800px);
  height: clamp(100px, 60%, 800px);
  margin-right: 40px;
  background-color: var(--bg-gradient-4);
}

.image-holder img {
  position: absolute;
  bottom: -100px;
  right: -80px;
}

.sponsor-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 55vh;
  background-color: var(--bg-gradient-4);
}

.sponsor-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(100px, 90vw, 2000px);
  height: 50%;
  background-image: url(../assets/images/bg-sponsor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-top: 50px
}

.sponsor-bg img {
  width: clamp(100px, 20vw, 350px);
  height: clamp(100px, 20vh, 350px);
}