footer {
  width: 100vw;
  height: fit-content;
  background: linear-gradient(to right, var(--main-gradient-1), var(--main-gradient-2), var(--main-gradient-3));
  padding: 20px 0px 5px 0px;
}

.location-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 20px;
}

.follow-section {
  margin-right: 20px;
}

.location-section,
.follow-section {
  text-align: left;
  margin-bottom: 15px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-family: 'Inter', Arial;
  font-size: 1.1rem;
}

.social-media-icons a {
  line-height: 0;
}

footer span {
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
}

.footer-line {
  margin: 5px 0;
  background-color: white;
  width: 100vw;
  height: 2px;
}


/* Medium-small devices */
@media (max-width: 600px) {
  footer span {
    font-size: 0.6rem;
  }
  
  .footer-info {
    justify-content: center;
  }

  .follow-section > p {
    font-size: 12px;
  }

  .location-section {
    display: none;
  }

  footer > p {
    font-size: 12px;
  }
}