header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  transition: background-color 0.3s ease;
  z-index: 20;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--main-gradient-1), var(--main-gradient-2), var(--main-gradient-3));
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

header.opaque::before {
  /*background-color: rgb(14, 1, 49); /*scroll*/
  opacity: 1;
}

header img {
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 60px;
  margin-right: 70px;
}

a {
  color: var(--highlight-color);
}

.logo {
  width: clamp(20px, 5vw, 60px);
  height: auto;
}

.header-text li a {
  position: relative;
  display: inline-block;
}

.header-text li a:hover,
.header-text li a.active {
  color: var(--blue-highlight);
}

.header-text li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--blue-highlight),
    transparent
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header-text li a.active::after {
  transform: scaleX(1);
}

.header-text li a:hover::after {
  transform: scaleX(1);
}

/* Extra small devices */
@media (max-width: 360px) {
  .logo {
    padding-right: 20px;
    margin: 0;
  }

  ul {
    gap: 10xpx;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 2rem;
  }
}

/* Small devices */
@media (max-width: 480px) {
  header {
    height: 80px;
  }

  ul {
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 0;
    margin: 0;
    gap: 1rem;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  ul {
    gap: 35px;
  }
}