header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  transition: background-color 0.3s ease;
  z-index: 2;
}

header.opaque {
  /*background-color: rgb(14, 1, 49); /*scroll*/
  background: linear-gradient(to right, var(--main-gradient-1), var(--main-gradient-2), var(--main-gradient-3));
}

header img {
  position: absolute;
  left: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 60px;
  margin-right: 40px;
}

a {
  color: var(--highlight-color);
}

.logo {

  width: clamp(20px, 5vw, 60px);
  height: auto;
}

.header-text li a {
  position: relative;
  display: inline-block;
}

.header-text li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--highlight-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header-text li a:hover::after {
  transform: scaleX(1);
}