#team-section {
  width: 100vw;
  height: 2000px;
  background-color: black;
}

.date-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Giga", Arial;
  font-size: 1.3rem;
  width: 100vw;
  height: 200px;
  background: linear-gradient(var(--bg-color), var(--header-gradient-3), var(--bg-color));
}

.team-text {
  font-size: 2.4rem;
  font-family: "Lexend Giga", Arial;
}

.team-line {
  width: clamp(300px, 30vw, 800px);
  height: 2px;
  background-color: white;
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}