#team-section {
  width: 100vw;
  min-height: fit-content;
  padding-bottom: 100px;
  background: linear-gradient(var(--bg-color) 27%, var(--team-gradient-blue), var(--bg-color), var(--team-gradient-blue)); /* Temporary Gradient, replace once sections are in place */
}

#team-section > img {
  width: 100vw;
  height: auto;
}

.date-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Giga", Arial;
  font-size: 1.3rem;
  width: 100vw;
  height: 200px;
  background: linear-gradient(var(--bg-color), var(--header-gradient-3), var(--bg-color));
}

.team-text {
  font-size: 2.4rem;
  font-family: "Lexend Giga", Arial;
}

.team-line {
  width: clamp(300px, 30vw, 800px);
  height: 2px;
  background-color: var(--highlight-color);
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.team-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(8px, 1vh, 80px);
  background-image: url(../../assets/images/background/bg-team.png);
  width: clamp(220px, 20vw, 300px);
  aspect-ratio: 336 / 452;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.team-info {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  place-items: center;
  row-gap: 80px;
  column-gap: 5px;
}

.team-info-box {
  position: relative;
}

.team-info-box > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.member-name {
  font-family: "Lexend Giga", Arial;
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
}

.member-role {
  font-family: "Nunito Sans", Arial;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

.member-line {
  width: 73%;
  height: 1.5px;
  background-color: var(--highlight-color);
}

.team-link-icons {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.team-link-icons img {
  width: clamp(16px, 1.3vw, 24px);
  height: auto;
}