#events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, 15vh, 60px);
  padding: 20px 0 30px 0;
  width: 100vw;
  height: 800px;
  background-color: var(--bg-color);
  box-sizing: border-box;
  padding-top: 100px;
}

.event-box-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.header,
.date{
  color: var(--blue-highlight);
  padding: 10px;
}

.event-boxes {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 5px;
  width: clamp(100px, 31vw, 427px);
  height: clamp(100px, 40vw, 420px);
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.event-boxes a {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
}

.event-boxes img {
  width: clamp(100px, 40vw, 427px);
  height: clamp(100px, 40vw, 420px);
  position: absolute;
  z-index: 0;
  object-fit: contain;
}

.event-boxes h1 {
  font-size: 1.7rem;
  margin-top: 50px;
  font-family: 'Michroma', sans-serif;
  color: var(--blue-highlight);
}

.event-boxes .event-description {
  text-align: left;
  font-size: clamp(0.99rem, 0.5vw, 2rem);
  width: 300px;
  height: auto;
}

.event-boxes h1,
.event-boxes p,
.event-boxes button {
  z-index: 1;
}

.event-boxes button {
  margin-top: 10px;
}

.info-button,
.rvsp-button {
  background: linear-gradient(to right, var(--highlight-gradient-1-opaque), var(--highlight-gradient-2-opaque));
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  font-family: 'Inter', Arial;
  width: fit-content;
}

/* Medium-small devices */
@media (max-width: 600px) {
  #events {
    min-height: fit-content;
    padding-bottom: 100px;
  }

  .event-boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 90%;
    height: auto;
  }

  .event-boxes img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .event-boxes h1,
  .event-boxes p,
  .event-boxes button {
    position: relative;
    z-index: 1;
  }

  .event-boxes button {
    margin-bottom: 50px;
  }

  .event-box-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .event-boxes {
    width: 90%;
    height: auto;
  }

  #events > h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 376px) {
  #events {
    min-height: fit-content;
    padding-bottom: 100px;
  }

  .event-boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 90%;
    height: auto;
  }

  .event-boxes img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
  }

  .event-boxes h1,
  .event-boxes p,
  .event-boxes button {
    position: relative;
    z-index: 1;
  }

  .event-boxes button {
    margin-bottom: 50px;
  }

  .event-box-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .event-boxes {
    width: 100%;
    height: 400px;
  }

  #events > h1 {
    font-size: 2.5rem;
  }
}


/* Tablets */
@media (min-width: 601px) and (max-width: 992px) {
  #events {
    min-height: fit-content;
    padding-bottom: 100px;
  }

  .event-boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 80%;
    height: auto;
  }

  .event-boxes img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .event-boxes h1,
  .event-boxes p,
  .event-boxes button {
    position: relative;
    z-index: 1;
  }

  .event-boxes button {
    margin-bottom: 50px;
  }

  .event-box-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .event-boxes {
    width: 90%;
    height: auto;
  }

  #events > h1 {
    font-size: 2.5rem;
  }
}