:root {
  --header-gradient-1: #090732;
  --header-gradient-2: #131139;
  --header-gradient-3: #17081C;
  --main-gradient-1: #05040F;
  --main-gradient-2: #131139;
  --main-gradient-3: #17081C;
  --bg-gradient-1: #07002000;
  --bg-gradient-2: #0F002ECC;
  --bg-gradient-3: #0F002EE6;
  --bg-gradient-4: #100135;
  --bg-color: black;
  --highlight-gradient-1: #090732;
  --highlight-gradient-2: #270D2E;
  --highlight-gradient-1-opaque: #88BBE066;
  --highlight-gradient-2-opaque: #270D2E66;
  --sponsors-color: #AE79AB;
  --highlight-color: #FFFFFF;
  --dark-color: #070020;
  --secondary-dark-color: #3E3E3E;
  --blue-highlight: #88BBE0;
  --explore-highlight: #100E42;
  --sponsor-section-color: #00020799;
  --project-glow: #020F2A;
  --black-overlay: #000000cc;
}