:root {
  --header-gradient-1: #090732;
  --header-gradient-2: #272377;
  --header-gradient-3: #824BAA;
  --bg-gradient-1: #07002000;
  --bg-gradient-2: #0F002ECC;
  --bg-gradient-3: #0F002EE6;
  --bg-gradient-4: #100135;
  --highlight-gradient-1: #88BBE0;
  --highlight-gradient-2: #D7A9E0;
  --sponsors-color: #AE79AB;
  --highlight-color: #FFFFFF;
  --dark-color: #070020;
  --secondary-dark-color: #3E3E3E;
}