:root {
  --header-gradient-1: #090732;
  --header-gradient-2: #272377;
  --header-gradient-3: #824BAA;
  --bg-gradient-1: #070020;
  --bg-gradient-2: #0F002E;
  --bg-gradient-3: #100135;
  --highlight-gradient-1: #88BBE0;
  --highlight-gradient-2: #D7A9E0;
  --sponsors-color: #AE79AB;
  --highlight-color: #FFFFFF;
  --secondary-dark-color: #3E3E3E;
}