#about-us {
  position: relative;
  width: 100vw;
  height: 140vh;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  box-sizing: border-box;
  padding: 40px 60px;
  background: var(--bg-color);
  background-size: cover;
}

.about-header {
  color: var(--blue-highlight);
  font-family: 'Italiana', Arial;
}

.text-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50vw;
  max-height: 50vw;
  overflow: auto;
}

.about-header {
  font-size: 4rem;
  text-align: left;
}

.about-text {
  font-size: 1.4rem;
  text-align: left;
  width: 80%;
}

.image-holder {
  position: relative;
  width: clamp(100px, 50vw, 700px);
  height: clamp(100px, 48%, 800px);
  margin-right: 40px;
}

.image-holder video {
  width: 100%;
  height: fit-content;
  border: 10px solid var(--bg-gradient-4);
}

.sponsor-text {
  position: absolute;
  font-size: 1.1rem;
  top: clamp(10px, 8vh, 100px);
}

.sponsor-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(var(--sponsor-section-color) 25%, var(--blue-highlight) 50%, var(--sponsor-section-color) 75%);
  width: 100vw;
  height: 55vh;
  flex-wrap: nowrap;
}

.line {
  width: 5.5rem;
  height: 2px;
  background-color: var(--highlight-color);
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 0.5vw, 5px);
  width: clamp(200px, 90vw, 2000px);
}

.sponsors img {
  width: clamp(100px, 20vw, 240px);
  height: clamp(100px, 20vh, 250px);
}

.sponsors .engineer-sponsor {
  width: 100px;
  margin-right: 15px;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Italiana', Arial;
}