#about-us {
  position: relative;
  width: 100vw;
  height: 140vh;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  box-sizing: border-box;
  padding: 40px 60px;
  background: var(--bg-color);
  background-size: cover;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1400px;
  height: 100%;
}

.about-header {
  color: var(--blue-highlight);
  font-size: 2 rem;
  text-align: left;
  font-weight: 300;
}

.text-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 45%;
  max-height: 50vw;
}

.about-header {
  color: var(--blue-highlight);
  /*font-family: 'Italiana', Arial;*/
  font-size: 4rem;
  text-align: left;
}

.about-text {
  font-size: 1.4rem;
  text-align: left;
  width: 100%;
}

.image-holder {
  
  flex: 0 0 50%; /* a bit wider */
  aspect-ratio: 4 / 3; /* match frame's aspect ratio */
 /* min-width: 330px;
  max-height: 515px; 
  margin-left: 5px;*/
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.slideshow-image {
  right:5%;
  top:120%;
  position: absolute;
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  /*z-index: 5;*/
  transition: opacity 0.5s ease-in-out;
}
.sponsor-text {
  position: absolute;
  font-size: 1.5rem;
  top: clamp(10px, 6vh, 100px);
}

.sponsor-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(var(--sponsor-section-color) 25%, var(--blue-highlight) 50%, var(--sponsor-section-color) 75%);
  width: 100vw;
  height: 55vh;
  flex-wrap: nowrap;
}

.line {
  width: 8rem;
  height: 2px;
  background-color: var(--highlight-color);
}

.sponsors {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.sponsor-track {
  display: flex;
  gap: clamp(30px, 8vw, 100px);
  animation: scroll 30s linear infinite;
}

.sponsors img {
  width: clamp(100px, 20vw, 240px);
  height: clamp(100px, 20vh, 250px);
  flex-shrink: 0;
}

.sponsor-track .nat-sponsor {
  width: 170px;
  height: auto;
}

.sponsor-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translateX(-51%);
  }
}

h1 {
  font-size: 3.2rem;
  font-family: 'Italiana', Arial;
}

.sponsor-track .engineer-sponsor {
  width: 120px;
  height: auto;
}

.sponsor-track .wisest-sponsor {
  width: 110px;
  height: auto;
}