#events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 15vh, 60px);
  padding: 30px 0;
  width: 100vw;
  height: 80vh;
  background-color: var(--bg-color);
}

.event-box-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.event-boxes {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  width: clamp(100px, 40vw, 427px);
  height: clamp(100px, 40vw, 420px);
  overflow: auto;
}

.event-boxes img {
  width: clamp(100px, 40vw, 427px);
  height: clamp(100px, 40vw, 420px);
  position: absolute;
  z-index: 0;
  object-fit: contain;
}

.event-boxes h1 {
  font-size: 2rem;
  margin-top: 50px;
}

.event-boxes .event-description {
  text-align: left;
  width: 300px;
}

.event-boxes h1,
.event-boxes p,
.event-boxes button {
  z-index: 1;
}

.info-button,
.rvsp-button {
  background: linear-gradient(to right, var(--highlight-gradient-1-opaque), var(--highlight-gradient-2-opaque));
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  font-family: 'Italiana', Arial;
  width: fit-content;
}