#explore {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 5vw, 50px);
  width: 100vw;
  height: 600px;
  padding: 30px 0;
  min-height: 70vh;
  background: linear-gradient(var(--bg-color) 0%, var(--explore-highlight) 67%, var(--bg-color) 100%);
  flex-wrap: wrap;
}

#explore h1 {
  position: absolute;
  top: 0;
  font-size: 2.5rem;
}

.team-section, 
.project-section,
.involve-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
  width: 385px;
  height: 385px;
}

.team-section,
.project-section,
.involve-section {
  background-image: url(../../assets/images/explore-boxes.png);
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  position: relative;
}

.team-section img, 
.project-section img,
.involve-section img {
  width: 83%;
  height: 55%;
  margin-right: 2px;
}

.team-button,
.explore-button,
.involve-button {
  background: transparent;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  font-family: 'Italiana', Arial;
  width: fit-content;
  margin-bottom: 17px;
}

.team-button:hover,
.explore-button:hover,
.involve-button:hover {
  border-color: var(--blue-highlight);
}

.auto-show {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}