#explore {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 5vw, 50px);
  width: 100vw;
  padding: 30px 0;
  height: 60vh;
  background: linear-gradient(var(--bg-color) 0%, var(--explore-highlight) 67%, var(--bg-color) 100%);
}

.team-section, 
.project-section,
.involve-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
  width: 350px;
  height: 385px;
}

.team-section,
.project-section,
.involve-section {
  background-image: url(../../assets/images/explore-boxes.png);
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  position: relative;
}

.team-section img, 
.project-section img,
.involve-section img {
  width: 83%;
  height: 55%;
}

.team-button,
.explore-button,
.involve-button {
  background: transparent;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  font-family: 'Italiana', Arial;
  width: fit-content;
  margin-bottom: 17px;
}

.team-button:hover,
.explore-button:hover,
.involve-button:hover {
  border-color: var(--blue-highlight);
}