#home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

#home, 
.bg-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bg-overlay {
  justify-content: center;
  width: 72%;
  height: 100vh;
  background: linear-gradient(
    to right, 
    var(--bg-gradient-1) 0%, 
    var(--bg-gradient-2) 30%,
    var(--bg-dark) 55%
  );
  font-family: 'Inter', Arial;
}

.buttons {
  display: flex;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 20px;
  position: relative;
  margin-left: 200px;
}

.info p {
  width: 500px;
  text-align: left;
  font-size: 30px;
}

.join-button {
  background: linear-gradient(to right, var(--highlight-gradient-1), var(--highlight-gradient-2));
}

.about-button {
  border-color: var(--highlight-color);
  background-color: transparent;
}

.join-button,
.about-button {
  width: clamp(40px, 10vw, 150px);
  border-radius: 4px;
  color: var(--highlight-color);
}

.left-text {
  display: block;
  text-align: left;
}

.home-logo {
  width: clamp(100px, 12vw, 200px);
  height: auto;
  margin: 0px 50px 50px 50px;
  transition: filter 0.4s ease;
}

.home-logo:hover {
  filter: drop-shadow(0 0 1em var(--highlight-gradient-2));
}