#home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

#home, 
.bg-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vw;
  background: rgba(4, 0, 22, 0.39); /* change opacity as needed */
  background: linear-gradient(
    to right,
    #07002000,
    #08001880,  /* left side: slightly dark */
    #01000DD4   /* right side: much darker */
  );
}

.bg-overlay {
  justify-content: center;
  width: 72%;
  height: 100vh;
  background: linear-gradient(
    to right, 
    var(--bg-gradient-1) 0%, 
    var(--bg-gradient-2) 30%,
    var(--bg-dark) 55%
  );
  font-family: 'Inter', Arial;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 20px;
  position: relative;
  margin-left: 200px;
}

.info p {
  width: 500px;
  text-align: left;
  /*font-size: 60px;*/
}

.join-button {
  background: linear-gradient(to right, var(--highlight-gradient-1), var(--highlight-gradient-2));
}

.about-button {
  border-color: var(--highlight-color);
  background-color: transparent;
}

.join-button,
.about-button {
  width: clamp(40px, 10vw, 150px);
  border-radius: 4px;
  color: var(--highlight-color);
  font-weight: bold;
}

.mainline {
  font-family: 'Lexend Giga', sans-serif;
  display: block;
  text-align: left;
  font-size: 60px;
  font-weight: bold;
  /*margin-bottom: 0px;*/
}

.subline {
  display: block;
  text-align: left;
  font-size: 18px;
  /*margin-bottom: 0px;*/
}

.home-logo {
  width: clamp(100px, 12vw, 200px);
  height: auto;
  margin: 0px 50px 50px 50px;
  transition: filter 0.4s ease;
}

.home-logo:hover {
  filter: drop-shadow(0 0 1em var(--highlight-gradient-2));
}

.side-image {
  position: absolute;
  left: 4%; /* distance from the right side */
  bottom: 8%; /* adjust vertical position */
  width: 120px; /* adjust size */
  max-width: 30%;
}