#projects {
  width: 100vw;
  min-height: 1900px;
  background-color: black;
  padding-top: 70px;
  background: linear-gradient(var(--project-glow)3%, var(--bg-color) 50%, var(--bg-color) 82%, var(--project-glow) 100%);
  position: relative;
}

.can-rgx-v {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% + 350px);
  transform: translateX(-50%);
}

.can-rgx-v h3 {
  font-weight: normal;
  color: var(--blue-highlight);
}

.can-rgx-v h1 {
  padding: 0;
  
}

#projects h1 {
  padding-top: 100px;
  font-family: 'Lexend Giga', Arial;
}

#projects p {
  padding-top: 7px;
  padding-bottom: 50px;
}

.h-line {
  display: inline-block;
  background-color: var(--highlight-color);
  width: 1px;
  margin: 0 auto;
  transform-origin: top;
}

.line-1 {
  height: 300px;
}

.line-2 {
  height: 450px;
}

.line-3 {
  height: 450px;
}

.line-4 {
  background-color: lightblue;
  height: 350px;
}

.line-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.checkpoint-1,
.checkpoint-2,
.checkpoint-3 {
  position: absolute;
  width: 70px;
  height: auto;
}

.checkpoint-1 {
  top: 275px;
}

.checkpoint-2 {
  top: 730px;
}

.checkpoint-3 {
  top: 1180px;
}